<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../iron-form/iron-form.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-input/paper-textarea.html">
<link rel="import" href="../paper-styles/default-theme.html">

<dom-module id="impressive-form">
  <template>
    <style>
      :host {
        display: block;
      }

      paper-button {
        background-color: var(--accent-color);
        color: white;

      }

    </style>

      <form is="iron-form">
        <paper-input  label="Prequeña description:" id="description"></paper-input>
        <paper-input  label="Copia el còdigo aqui:" id="code"></paper-input>
        <paper-input  label="Languaje" id="languaje"></paper-input>
        <paper-button raised on-tap="addSnippet">Guardar snippet de còdigo</paper-button>
      </form>
  
  </template>

  <script>
    /**
     * `impressive-form`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ImpressiveForm extends Polymer.Element {
      static get is() { return 'impressive-form'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'impressive-form'
          }
        };
      }
    }

    window.customElements.define(ImpressiveForm.is, ImpressiveForm);
  </script>
</dom-module>
